*{
    margin:  0;
    padding: 0;
    box-sizing: border-box;
 }
 :root{
   --index: calc(1vw +1vh);
   --transition: 1.5s cubic-bezier(.05, .5, 0, 1);
 }
 @font-face {
     font-family: kamerik-3d;
     src: url(../fonts/kamerik205-heavy.woff2);
     font-weight: 900;
 }
 @font-face{
     font-family: merriweather-italic-3d;
     src: url(../fonts/merriweather-regular-italic.woff2)
 }
 body{
     background-color: #000;
     color:#fff;
     font-family: kamerik-3d;
 }
 .logo {
     --logo-size: calc(var(--index) * 7.8);
     width: var(--logo-size);
     height: var(--logo-size);
     background-repeat: no-repeat;
     position: absolute;
     left: calc(51% - calc(var(--logo-size) / 2));
     top: calc(var(--index) * 2.8);
     z-index: 1;
 }
 .layers {
     perspective: 1000px;
     overflow: hidden;
 }
 .layers__container {
     height: 100vh;
     min-height: 500px;
     transform-style: preserve-3d;
     transform: rotateX(var(--move-y)) rotateY(var(--move-x));
     will-change: transform;
     transition: transform var(--transition);
 }
 .layers__item {
     position: absolute;
     inset: -5vw;
     background-size: cover;
     background-position: center;
     display: flex;
     align-items: center;
     justify-content: center;
 }
 .layer-1 {
     transform: translateZ(-55px) scale(1.06);
 }
 .layer-2 {
     transform: translateZ(80px) scale(.88);
 }
 .layer-3 {
     transform: translateZ(180px) scale(.8);
 }
 .layer-4 {
     transform: translateZ(190px) scale(.9);
 }
 .layer-5 {
     transform: translateZ(300px) scale(.9);
 }
 .layer-6 {
     transform: translateZ(380px);
 }
 .hero-content {
     font-size: calc(var(--index) * 2.9);
     text-align: center;
     text-transform: uppercase;
     letter-spacing: calc(var(--index) * -.15);
     line-height: 1.35em;
     margin-top: calc(var(--index) * 5.5);
 }
 .hero-content span {
     display: block;
 }
 /* .hero-content__p {
     text-transform: none;
     font-family: merriweather-italic-3d;
     letter-spacing: normal;
     font-size: calc(var(--index) * .73);
     line-height: 3;
 } */
 .gButton{
     font-family: Arial;
     font-weight: 600;
     text-transform: uppercase;
     font-size: calc(var(--index) * .71);
     letter-spacing: -.02vw;
     padding: calc(var(--index) * .7) calc(var(--index) * 1.25);
     background-color: transparent;
     color: #fff;
     border-radius: 10em;
     border: rgb(255 255 255 / .4) 3px solid;
     outline: none;
     cursor: pointer;
     margin-top: calc(var(--index) * 2.5);
 }
 .layer-4, .layer-5, .layer-6 {
     pointer-events: none;
 
}
#icon{
    width:80px;
    cursor:pointer;

}
.songs{
    background-color: #000;
}


.song-small:hover{
    border:solid thin grey;
    cursor: pointer;
    transform: translateY(-10px);
    
}
.song-small{
    background-color: #000;

}
.song-small{
    background-color: #193353;
    background: linear-gradient(90deg,rgb(13, 13, 145) 0%,rgb(13, 99, 211)15%,rgb(102, 135, 58)67%),rgb(19, 22, 22);
    transition: all 0.3s ease;
 }
 

.music-playlist{
    background-color: #000;
}
.music-playlist{
    padding: 20px 40px ;
}
.music-playlist h2{
    color:#ffffff;
    font-size: 22px;
    margin-bottom:20px ;
}
.music-playlist .list{
    display: flex;
    gap: 20px;
   overflow: hidden;
}
.music-playlist .list .item{
    min-width: 140px;
    width: 160px;
    padding: 15px;
    background-color: #181818;
    border-radius: 6px;
    cursor:pointer;
    transition: all ease 0.4s;
}
.music-playlist .list .item:hover{
    background-color: #252525;
}
.music-playlist .list .item img{
   width:100%;
   border-radius:6px ;
   margin-bottom: 10px;
} 
.music-playlist .list .item .play{
    position:relative;
}
.music-playlist .list .item .play .fa{
    position:absolute;
    right:10px;
    top:-60px;
    padding:18px;
    background-color: #1db954;
    border-radius: 100%;
    opacity:0;
    transition: all ease 0.4s;
}
.music-playlist .list .item:hover .play .fa{
    opacity: 1;
    transform: translateY(-20px);
}
.music-playlist .list .items h4{
    color:#ffffff;
    font-size:14px;
    margin:10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.music-playlist.list .item p{
    color:#989898;
    font-size: 12px;
    line-height: 20px;
    font-weight: 600;
}
.music-playlist hr{
    margin: 70px 0px 0px;
    border-color: #636363;
}
.bi-play,
.bi-pause {
  font-size: 30px; /* Установите желаемый размер */
}
body#top-hits {
    background-color: #000000; /* Черный цвет фона только для страницы top_hits.html */
}
.bButton{
    font-family: Arial;
    font-weight: 600;
    text-transform: uppercase;
    font-size: calc(var(--index) * .71);
    letter-spacing: -.02vw;
    padding: calc(var(--index) * .7) calc(var(--index) * 1.25);
    background-color: transparent;
    color: #fff;
    border-radius: 10em;
    border: rgb(255 255 255 / .4) 3px solid;
    outline: none;
    cursor: pointer;
    margin-top: calc(var(--index) * 2.5);

}

@font-face {
	font-family: raleway-c;
	src: url(../fonts/raleway-regular.woff2);
}
@font-face {
	font-family: outfit-c;
	src: url(../fonts/outfit-regular.woff2);
}
h1, h2, h3, h4, h5, h6 {
	font-family: outfit-c;
}
/* will-change */
.content, .hero, .main-header, .gallery > * {
	will-change: transform;
}
body {
	background-image: url(../img/bg.jpg);
	background-size: 50px;
	color: #fafafa;
	font-family: raleway-c;
	overflow-x: hidden;
}
.hero {
	width: calc(var(--index) * 36);
	position: absolute;
	left: 37vw;
	top: 22vh;
	z-index: -1;
}
.main-header {
	height: 100vh;
}
.container {
	padding: 0 7vw;
}
.main-title {
	font-size: calc(var(--index) * 8);
	position: absolute;
	width: min-content;
	bottom: 12vh;
	line-height: .9;
}
.gallery {
	display: flex;
	padding: calc(var(--index) * 8) 0;
}
.gallery > * {
	flex: 1;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.gallery__item {
	max-width: calc(var(--index) * 21);
	margin-bottom: var(--gallery-gap);
	max-height: 180vh;
	border-radius: 8px;
}
.gallery__left {
	margin-top: calc(var(--gallery-gap) * 1.75);
}
.gallery__right .gallery__item {
	margin: 0;
	margin-top: var(--gallery-gap);
}
.text-block {
	color: var(--color-text);
	position: relative;
}
.text-block__h {
	font-size: 2rem;
	line-height: 2.4rem;
	color: var(--color-header);
	margin-bottom: 1.5rem;
}
.text-block__p {
	line-height: 1.75;
}
/* .artist-main {
	--index: calc(1vw + 1vh);
	--color-header: #f4efec;
	--color-text: #cdc6c3;
	--gallery-gap: calc(var(--index) * 7.5)
  } */

  .gbButton{
    font-family: Arial;
    font-weight: 600;
    text-transform: uppercase;
    font-size: calc(var(--index) * .71);
    letter-spacing: -.02vw;
    padding: calc(var(--index) * .7) calc(var(--index) * 1.25);
    background-color: transparent;
    color: #fff;
    border-radius: 10em;
    border: rgb(255 255 255 / .4) 3px solid;
    outline: none;
    cursor: pointer;
    margin-top: calc(var(--index) * 2.5);

}